*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {
    background-color: #0a9396;
    color: #fff;
    text-align: center;
    align-items: center;
    padding: 60px;
}
.tittle {
    margin: 0;
}

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para el formulario */
.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.js-input-add {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

.add-btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.add-btn:hover {
    background-color: #555;
    transform: translateY(-2px);
}

/* Estilos para la sección de tareas */
.taks-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-search {
    padding: 8px 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-search:hover {
    background-color: #555;
    transform: translateY(-2px);
}

.taks-list {
    list-style: none;
    padding: 0;
}

.taks-list li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.taks-list li:hover {
    transform: translateY(-5px);
}